.mt-15 {
    margin-top: 15px;
}

.bg-saffron {
    background: #ff9933;
}

.bg-saffron-light {
    background: #fbb773;
}

.bg-red {
    background-color: #9c1f2d;
}

.bg-maroon {
    background-color: #743042;
}

// .topnav {
//     background-color: #333;
//     overflow: hidden;
// }

/* Style the links inside the navigation bar */

.topnav a:hover {
    border-bottom: 3px solid white;
}

.topnav a.active {
    border-bottom: 3px solid white;
}