<!-- <div style="margin-top:10px"></div>
<div class="d-flex justify-content-center lg">
    <p class="h1"> Garaja Maharashtra</p>
</div>
<div>
    <div class="mt-15"></div>
</div> -->
<div class="">
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-red" style="height:67px">
        <div class="display-4 px-4 bg-saffron" style="margin-left: -15px; color: white ; border: 0.5px solid white;">{{title}}</div>
        <div class="collapse navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <!-- <li class="justify-content-center"> -->

                <!-- </li> -->
            </ul>
        </div>
    </nav>
</div>

<div class="">
    <nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-maroon" style="height:30px;">

        <div class="collapse navbar-collapse collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav" *ngFor="let item of categoriesList">
                <li class="nav-item topnav">
                    <a class="nav-link active" routerLink={{item.path}}>{{item.name}}</a>
                </li>
                <!-- <li>{{item.name}}</li> -->
            </ul>
        </div>
    </nav>
</div>