.mt-15 {
    margin-top: 15px;
}

.bg-saffron {
    background: #ff9933;
}

.bg-saffron-light {
    background: #fbb773;
}

.bg-red {
    background-color: #9c1f2d;
}

.bg-maroon {
    background-color: #743042;
}

// .topnav {
//     background-color: #333;
//     overflow: hidden;
// }

/* Style the links inside the navigation bar */

.topnav a:hover {
    border-bottom: 3px solid white;
}

.topnav a.active {
    border-bottom: 3px solid white;
}

.white {
    font-size: larger;
    padding-bottom: 45px;
    color: white !important;
}

ul {
    padding: 15px;
}

.dropdown-menu-2 {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    /* display: none; */
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: -2.075rem 5px 0;
    font-size: 1rem;
    color: white;
    text-align: left;
    list-style: none;
    background-color: #9c1f2d;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-white {
    font-size: larger;
    color: white;
}

.dropdown-white:hover {
    background-color: white;
    color: #9c1f2d;
    font-size: larger;
}

.top {
    height: 50px;
    background-color: #191919;
    padding: 8px;
    ;
}

.up {
    margin: -2.5rem 10px 0 !important;
    font-size: 1rem !important;
    color: white !important;
    text-align: left !important;
    list-style: none !important;
    background-color: #9c1f2d !important;
}

// .header-background {
//     background: rgb(251, 63, 65);
//     background: radial-gradient(circle, rgba(251, 63, 65, 1) 0%, rgba(251, 251, 63, 1) 38%, rgba(251, 63, 65, 1) 100%, rgba(252, 221, 70, 1) 100%);
// }