<footer class="mt-15 footer">
    <div class="container">
        <div class="row pt-5">
            <div class="col-md-3">
                <span class="footer-link">About Us</span>
            </div>
            <div class="col-md-3">
                <span class="footer-link">Privacy Policy</span>
            </div>
            <!-- <div class="col-md-3">
                <span class="footer-link"> About Us</span>
            </div>
            <div class="col-md-3">
                <span class="footer-link">About Us</span>
            </div> -->
        </div>
    </div>
</footer>

<footer style="background-color: rgb(98, 91, 177); color: rgba(245, 245, 245, 0.762);">
    <!-- <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <span class="footer-link">About Us</span>
            </div>
            <div class="col-sm-2">
                <span class="footer-link">Privacy Policy</span>
            </div>
            <div class="col-sm-2">
                <span class="footer-link"> About Us</span>
            </div>
            <div class="col-sm-2">
                <span class="footer-link">About Us</span>
            </div>
        </div>
    </div> -->
</footer>