.card {
    border: none;
    font-size: small;
}

a:hover {
    color: salmon;
}

.btn-sm {
    font-size: 0.62rem;
}

.icon-color {
    padding-top: 4px;
    color: salmon;
}
.btn-sm{
    color: salmon;
}
.btn-outline-primary{
    border-color: salmon;
}
.btn-outline-primary:hover{
    background-color: salmon;
    color: white;
}