.divider {
    // margin-top: 20px;
    float: right;
    width: 85%;
    // width: 80%;
    background-color: lightgray;
    height: 1px;
    margin-top: -25px;
}

.md-outline.select-wrapper+label {
    top: .5em !important;
    z-index: 2 !important;
}